@font-face {
    font-family: ayarJuno;
     src: url(/src/fonts/AyarJuno-2LO8.ttf); 
    /*For Git page */
    /*src: url(/CodeLabWebDesignProject/src/fonts/AyarJuno-2LO8.ttf);*/
}
h3{
    color: #f86829;
    font-size: 2em;
 }
h4{
    color: #f86829;
  }
  
header{
    background-color: rgb(32, 31, 31);
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 10vh;
    display: flex;

    
    
}
nav{
    

}
header label{
    display: flex;
    justify-content: center;
  align-items: center;
  height: 100%;
    color: #f86829;
    font-family: ayarJuno;
    font-size: 1.5em;
}
header ls{
    display: flex; 
    list-style: none;
    width: 100%;
    height: 50%;
    margin: auto;
   
}
header ls li{
    margin-left: 8px;
}
header ls a {
   
    text-decoration: none;
    color: #f86829;
    font-size: 0.8em;
} 
.navcenter{
    width: 50%;
    height: auto;
    text-align: center;
    display: block;
    padding: auto;
}
.navright{
    width: 25%;
    display: flex;
    justify-content: right;

}
.navicon{
    width: 25%;
    height: 100%;
    
}
.navlogo{
    width: auto;
    height: 100%;
    cursor: pointer;
}
body{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    
    
}

/* 
Hamburger Menu 
*/

  
  .overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      background: black;
      z-index: -1;
  }
  
  
  
  #hamburger-input{
    display: none;
  }
  
  #hamburger-menu {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      display: none;
      border: none;
      padding: 0px;
      margin: 0px;
      font-family: 'Cabin', Sans-serif;
      background: linear-gradient(
      to bottom, 
      #f86829, #f86829 20%, 
      black 20%, black 40%, 
      #f86829 40%, #f86829 60%, 
      black 60%, black 80%, 
      #f86829 80%, #f86829 100%
    );
  }
  
  #hamburger-menu #sidebar-menu {
      visibilty: hidden;
      position: fixed;
      top: 0;
      right: -250px;
      width: 200px;
      height: 100%;
      background-color: rgb(32, 31, 31);
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
    color: #f86829;
    font-size: 2.2rem;
    font-family: ayarJuno;
  }
  
  #hamburger-menu ul {
    padding-right: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: #f86829;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      right: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  
  
/*-----------------------*/
@media screen and (max-width: 1254px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  }

  /*Home Section */
 .hero{
    position: relative;
    display: block;
    margin: 2vw;
 }
 .hero .herotext{
    position: absolute;
    top: 5vh;
    right: 10vw;
    width: 300px;
    word-wrap: break-word;
    
 }
 .hero .herotext label{
    font-family: ayarJuno;
    font-size: 2.5rem;
    width: 100%;
    color: white;
 }
 button{
    background-color: #f86829;
    color: white;
    border: none;
    height: 20px;
    cursor: pointer;
 }
  .herobg{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: auto;

  }
  .quote{
    width: 100%;
    height: auto;
    overflow: hidden;
    justify-content: center;
  }
  .flex{
    display:flex;
    flex-direction: row;
  }
  @media (max-width: 800px) {
    .flex {
      flex-direction: column;
    }
    .qdiv{
        width: 100%;
        
      }
    
  }
  @media (min-width: 800px) {
   
    .qdiv{
        width: 50%;
  
      }
      .qtext{
        margin-top: 20%;
      }
      .sartext{
        position: absolute;
        top: 20%;
        right: 10%;
    }
      }
 
 .qdiv{
    height: auto;
    max-height: 400px;
    display: block;
    
 }
  .qimg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .qtext{
    
    height: 120px;
    width: 100;
    border-width: 2px;
    border-color: white;
    color: white;
    border-style: solid;
    text-align: center;
    opacity: 0.7;
   padding: 10px;

  }
  #effect{
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color:#1a1919 ;
    text-align: center;
  }
  #effect h3{
    font-size: 40px;
    font-family: ayarJuno;
  }
  .tipbox{
    position: relative;
    width: 100%;
    display: block;
    padding-top: 10px;
    text-align: center;
  }
  .tip{
    width: 100%;
    height: 20px;
    font-size: 1em;
    margin-top: 10px;
  }
 .sar{
    width: 50%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
 }
 .sartext{
    width: 50%;
    min-width: 200px;
    height: auto;
    
 }
 .စာ{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

 #testimonial{
    text-align: center;
    display: block;
 }

 /* testimonial */
 .showcase{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    margin: 20px 10px;
 }
 .card {
    padding: 10px;
  }
  
  .card h4,
  .card p {
    width: 200px;
    margin: 10px auto;
  }

  .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* write text between text get it from https://melvingeorge.me/blog/add-text-in-center-on-divider-hr-html-css*/

  .divider {
  display: flex;
  align-items: center;
  text-align: center;
}

/* To show the lines on right 
and left sides of the text */
.divider::after,
.divider::before {
  content: "";
  border: 1px solid #f86829;
  flex: 1;
}

/* Space on left and right sides of text */
.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}
 
/* Products  */
#products{
    text-align: center;
    align-items: center;
    display: block;
}
.pcard{
    
    border-color: #f86829;
    border-width: 2px;
    border-style: solid;
    width: 200px;
    height: 300px;
    margin-top: 20px;
}
.pcard img{
    height: 100px;
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.pcard span{
    width: 100%;
    height: 30px;
}
.pcard p{
    width: 100%;
    height: 70px;
}
.pcard button{
    border-color: #f86829;
    border-width: 2px;
    border-style: solid;
    color: #f86829;
    background-color: black;
}
.pcard button:hover{
    border-color: #f86829;
    border-width: 2px;
    border-style: solid;
    color: white;
    background-color: #f86829;
    
}

.contact{
    background-color: #1a1919;
    margin-left: 2vw;
    margin-right: 2vw;
    color: white;
    padding: 20px;
    height: auto;
}
.contactdetail{
    display: inline-block;
    text-align: center;
    
}
.contactdetail label{
    width: 100%;
    display: block;

}
.map{
    padding: 10px;
    width: 100%;
}
#contact input,textarea{
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: #f86829;
    border-width: 2px;
    border-style: solid;
    background-color: #1a1919;
    color: #f86829;
}
.submit{
    cursor: pointer;

}
footer p{
    color: gray;
    text-align: center;
    word-wrap: normal;
    margin-left: 10vw;
    margin-right: 10vw;
    
}
